[Unit]
Description=X-UI Monitor Service
After=network.target

[Service]
ExecStart=/usr/local/x-ui/x-ui-monitor
WorkingDirectory=/usr/local/x-ui
Restart=always
RestartSec=5
User=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
